<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="jamming" src="{{ "/assets/img/jamming.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Playlist APP </h3>
    <ul>
      <li> React.js</li>
      <li> Express.JS</li>
      <li> HTML & CSS</li>
    </ul>
    <p>A React web application that allows users to search the Spotify library, create a custom playlist, then save it to their Spotify account.</p>
    <a class="project-link" href="https://github.com/adrianojbj/jamming-app">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ecommerce" src="{{ "/assets/img/img-ecommerce.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> E-commerce Rest API </h3>
    <ul>
      <li> Express.JS</li>
      <li> Node.js</li>
      <li> PostgreSQL</li>            
    </ul>
    <p>Node/Express REST API to provide typical functionality found in an ecommerce website. Users can create accounts, view products, add products to a cart, and place/view orders.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
